<%# add_decidim_meta_tags({
                           image_url: current_participatory_space.attached_uploader(:hero_image).path,
                           description: translated_attribute(current_participatory_space.short_description),
                           url: feed_url(current_participatory_space),
                           twitter_handler: current_organization.twitter_handler
                         }) %>



<%
edit_link(
  resource_locator(current_participatory_space).edit,
  :update,
  :feed,
  feed: current_participatory_space
)
%>


<%= link_to t(".show_posts"), decidim_feed_posts_path(current_participatory_space, @posts_component) %>
<%= link_to t(".edit"), edit_feed_path(@current_feed) %>

<div class="participatory-space__container">

  <%= participatory_space_floating_help %>

  <% active_content_blocks.each do |content_block| %>
    <% next unless content_block.manifest %>
    <%= cell content_block.manifest.cell, content_block %>
  <% end %>

</div>

<section class="participatory-space__block-reference">
  <%= resource_reference(current_participatory_space) %>
</section>
