<% add_decidim_page_title(t("feeds.edit.update", scope: "decidim.feeds")) %>
<main class="feeds__main flex w-full xl:max-w-screen-xl 2xl:max-w-screen-2xl mx-auto p-4 lg:p-16 lg:flex-row lg:gap-4 lg:justify-between">
  <div class="grow min-h-[calc(100vh-72px)]">
    <div class="feeds__body flex-grow flex flex-wrap gap-4 items-start">
      <div class="card__grid-home w-full lg:grid-cols-8 xl:grid-cols-12 gap-6">
        <div class="p-2 gap-4 md:col-start-1 md:col-end-4 lg:col-start-2 lg:col-end-8 xl:col-start-2 xl:col-end-10">
          <%= link_to decidim_feeds.feeds_path, class:'flex items-center gap-1' do %>
            <%= icon "arrow-left-circle-line", class: 'w-[24px] h-auto' %>
            <span class="text-sm text-center"><%= t("decidim.feeds.feeds.nav.back") %></span>
          <% end %>
        </div>
        <div class="p-2 gap-4 md:col-start-1 md:col-end-4 lg:col-start-2 lg:col-end-8 xl:col-start-2 xl:col-end-10">
          <div class="flex justify-between pb-4">
            <h1 class="mb-2 flex gap-4 align-baseline">
              <%= icon "group-2-line", class: 'w-[48px] h-auto' %>
              <span class="text-xl font-bold uppercase">Gruppen Name</span>
            </h1>
            <%= link_to decidim_feeds.new_feed_path, class:'flex flex-col items-center' do %>
              <%= icon "settings-3-line", class: 'w-[24px] h-auto' %>
              <span class="text-sm text-center"><%= t("decidim.feeds.feeds.menu.edit") %></span>
            <% end %>
          </div>
          <p class="text-pretty py-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sapien ornare vitae amet.</p>
          <div class="flex gap-4 py-4">
            <%= link_to '#', class: "button button__sm button__transparent-primary self-end" do %>
              Gruppe beitreten
              <%= icon "group-line", class: '' %>
            <% end %>
            <%= link_to '#', class: "button button__sm button__transparent-primary self-end" do %>
              Gruppe verlassen
              <%= icon "user-unfollow-line", class: '' %>
            <% end %>
            <%= link_to '#', class: "button button__sm button__transparent-primary self-end" do %>
              Teilnehmer einladen
              <%= icon "user-add-line", class: '' %>
            <% end %>
          </div>

          <h2 class="h3 mt-4">Mitglieder</h2>
          <ul>
            <li class="grow shrink basis-0 pl-4 pr-6 py-4 m-4 bg-white rounded-2xl shadow">
              <div class="justify-start items-center gap-4 flex">
                <div class="py-2 flex-col justify-start items-start flex">
                  <span class="font-semibold">User Name</span>
                  <span>@usernickname</span>
                </div>
                <span class="text-feeds-host pl-2 py-2 self-start">Administrator</span>
                <span class="rounded-full w-[50px] h-[50px] overflow-hidden ml-auto">
                  <%= icon "group-2-line", class: 'w-[48px] h-auto' %> FEED NAME
                </span>
              </div>
              <div class="actions flex gap-2 pt-4">
                  <%= link_to '#', class: "button button__sm button__transparent-primary self-end" do %>
                    Admin entfernen
                    <%= icon "delete-bin-line", class: '' %>
                  <% end %>
              </div>
            </li>
            <li class="grow shrink basis-0 pl-4 pr-6 py-4 m-4 bg-white rounded-2xl shadow">
              <div class="justify-start items-center gap-4 flex">
                <div class="py-2 flex-col justify-start items-start flex">
                  <span class="font-semibold">User Name</span>
                  <span>@usernickname</span>
                </div>
                <span class="rounded-full w-[50px] h-[50px] overflow-hidden ml-auto">
                  <%= icon "group-2-line", class: 'w-[48px] h-auto' %> FEED NAME
                </span>
              </div>
              <div class="actions flex gap-2 pt-4">
                <%= link_to '#', class: "button button__sm button__transparent-primary self-end" do %>
                  User entfernen
                  <%= icon "delete-bin-line", class: '' %>
                <% end %>
                <%= link_to '#', class: "button button__sm button__transparent-primary self-end" do %>
                  Zum admin machen
                  <%= icon "admin-line", class: '' %>
                <% end %>
              </div>
            </li>
          </ul>

          <h2 class="h3 py-4 flex flex-col gap-2">
            Teilnehmer einladen
            <span class="text-md">
              (DIESE SOLL EIN EIGENE VIEW SEIN, GERUFEN VON BUTTON OBEN)
              <br>
              oder auch ein DIALOG
            </span>
          </h2>
          <div id="feedsUI__user_filter" class="feedsUI__user_filter">
            <%= form_tag(decidim_feeds_ui.allusers_path, method: :get, id: "feedsUI__user_filterForm", remote: true, class: "flex flex-col gap-4 px-4 pt-0 pb-4") do %>
              <%= label_tag :name, class: "flex flex-col gap-1" do %>
                <%= t("decidim.components.feeds_ui.user.filter.name") %>
                <%= text_field_tag :name, params[:name], id: "feedsUI__user_name", class: "reset-defaults p-4 border border-gray rounded-md", autocomplete: "off" %>
              <% end %>
              <%= label_tag :interest, class: "flex flex-col gap-1 hidden" do %>
                <%= t("decidim.components.feeds_ui.user.filter.interest") %>
                <%= text_field_tag :interest, params[:interest], id: "feedsUI__user_interest", class: "reset-defaults p-4 border border-gray rounded-md hidden", autocomplete: "off" %>
              <% end %>
              <%= label_tag :apartment, class: "flex flex-col gap-1 hidden" do %>
                <%= t("decidim.components.feeds_ui.user.filter.block") %>
                <%= text_field_tag :apartment, params[:apartment], id: "feedsUI__user_apartment", class: "reset-defaults p-4 border border-gray rounded-md hidden", autocomplete: "off" %>
              <% end %>
            <% end %>
          </div>
          <div class="grow shrink basis-0 pl-4 pr-6 py-4 m-4 bg-white rounded-2xl shadow justify-start items-center gap-4 flex">
            <div class="py-2 flex-col justify-start items-start flex">
              <span class="font-semibold">User Name</span>
              <span>@usernickname</span>
            </div>
            <span class="rounded-full w-[50px] h-[50px] overflow-hidden ml-auto">
              <%= icon "group-2-line", class: 'w-[48px] h-auto' %> FEED NAME
            </span>
          </div>
          <div class="flex justify-end pl-4 pr-6 py-4">
            <%= link_to '#', class: "button button__sm button__transparent-primary self-end" do %>
              Einladen
              <%= icon "arrow-right-line", class: '' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>