<div class="card__grid feeds__feed" data-content="<%= post_category %>">
  <%= cell("decidim/feeds/post_meta", post) %>
  <div class="card__grid-img">
      <% if post.attachments.any? %>
        <div class="post-attachments">
          <% post.attachments.each do |attachment| %>
            <!-- Example for displaying images, adjust based on your attachment types -->
            <img src="<%= attachment.url %>" alt="<%#= attachment.name %>">
          <% end %>
        </div>
      <% else %>
      NO ATTACH
      <% end %>
  </div>
  <div class="card__grid-text">
    <%= post_body %>
  </div>
  <% if post_category == 'survey' %>
    <%= render partial: "decidim/feeds/content_blocks/feeds/survey.html" %>
  <% end %>
  <%= cell("decidim/feeds/post_comment", post) %>
</div>
