<div class="card__grid feeds__feed" data-content="<%= post_category %>">
  <%= cell("decidim/feeds/post_meta", post) %>
  <%= cell("decidim/feeds/post_attachments", post) %>
  <div class="card__grid-text">
    <%= post_body %>
  </div>
  <% if post_category == 'survey' %>
    <%= render partial: "decidim/feeds/content_blocks/feeds/survey.html" %>
  <% end %>
  <%= cell("decidim/feeds/post_comment", post) %>
</div>
