<div class="feeds__feed_survey" id="post_<%= post.id %>_survey">
  <span class="text-right py-2">
    <%= t("decidim.feeds.survey.participated", count: post.survey_responses_count) %>
  </span>
  <% post.questions.each do |question| %>
    <% if question.question_type == "single_choice" %>
      <fieldset class="feeds__feed_survey-question">
        <legend><%= translated_attribute question.title %></legend>
        <% question.answers.each do |answer| %>
          <div class="feeds__feed_survey-question-answer">
            <div class="feeds__feed_survey-question-answerInput">
              <%= radio_button_tag "post[questions][#{question.id}]", answer.id, answer.user_answers.find_by(decidim_feeds_answer_id: answer.id, decidim_user_id: current_user.id).present?, class: "survey-answer-checkbox", data: { question_id: question.id, answer_id: answer.id } %>
              <%= label_tag "post_questions_#{question.id}_#{answer.id}" do %>
                <%= translated_attribute answer.title %>
              <% end %>
            </div>
            <div class="feeds__feed_survey-question-answerProgressbar flex justify-between p-1 border border-gray rounded-full shadow-md">
              <div class="w-full bg-background rounded-full">
                <div id="answer-<%= answer.id %>-progressbar" class="bg-success h-full rounded-full shadow-md" style="width: <%= (answer.user_answers.count.to_f / post.survey_responses_count) * 100 %>%"></div>
              </div>
              <span class="text-sm shrink-0 px-2">
                <span id="answer-<%= answer.id %>-counter">
                  <%= answer.user_answers.count %>
                </span>
                /
                <span id="answer-<%= answer.id %>-total">
                  <%= post.survey_responses_count %>
                </span>
                <span class="sr-only">haben geantwortet</span>
              </span>
            </div>
          </div>
        <% end %>
      </fieldset>
    <% elsif question.question_type == "multiple_choice" %>
      <fieldset class="feeds__feed_survey-question">
        <legend><%= translated_attribute question.title %></legend>
        <% question.answers.each do |answer| %>
          <div class="feeds__feed_survey-question-answer">
            <div class="feeds__feed_survey-question-answerInput">
              <%= check_box_tag "post[questions][#{question.id}][#{answer.id}]", answer.id, answer.user_answers.find_by(decidim_feeds_answer_id: answer.id, decidim_user_id: current_user.id).present?, class: "survey-answer-checkbox", data: { question_id: question.id, answer_id: answer.id } %>
              <%= label_tag "post_questions_#{question.id}_#{answer.id}" do %>
                <%= translated_attribute answer.title %>
              <% end %>
            </div>
            <div class="feeds__feed_survey-question-answerProgressbar flex justify-between p-1 border border-gray rounded-full shadow-md">
              <div class="w-full bg-background rounded-full">
                <div id="answer-<%= answer.id %>-progressbar" class="bg-success h-full rounded-full shadow-md" style="width: <%= (answer.user_answers.count.to_f / post.survey_responses_count) * 100 %>%"></div>
              </div>
              <span class="text-sm shrink-0 px-2">
                <span id="answer-<%= answer.id %>-counter">
                  <%= answer.user_answers.count %>
                </span>
                /
                <span id="answer-<%= answer.id %>-total">
                  <%= post.survey_responses_count %>
                </span>
                <span class="sr-only">haben geantwortet</span>
              </span>
            </div>
          </div>
        <% end %>
      </fieldset>
    <% end %>
  <% end %>
</div>
