<%= cell("decidim/feeds/post_meta", post) %>

<% unless post_highlighted %>
  <% if official_post %>
    <%= icon "home-gear-line", class: 'hv-icon' %>
  <% end %>
  
  <%= cell("decidim/feeds/post_attachments", post) %>
<% end %>
<div class="card__grid-text">
  <%= post_body %>
</div>
<% if status_class %>
  <div class="bg-white rounded-2xl border-4 border-<%= status_class %> flex-col justify-between items-center inline-flex">
    <div class="self-stretch px-2 py-1 justify-start items-center gap-2 inline-flex">
      <time class="p-2 font-bold text-lg"><%= post.updated_at.strftime("%B %d, %Y") %></time>
    </div>
    <div class="self-stretch grow shrink basis-0 bg-<%= status_class %> rounded-lg justify-center items-center gap-2 inline-flex">
      <div class="p-2 text-xl font-bold uppercase text-black"><%= post_status_text %></div>
    </div>
  </div>
<% end %>

<% unless post_highlighted || status_class %>
  <% if post_commentable %>
    <%= cell("decidim/feeds/post_comment", post) %>
  <% end %>
<% end %>

<% if participatory_space.admins.exists?(id:current_user.id) && !official_post %>
  <% if post_status != 2 %>
    <div class="flex flex-col py-4 px-2 justify-center items-center gap-4">
      <% if post_status != 1 %>
        <button class="button button__sm button__transparent-primary changeStatusButton" data-post-status="1" data-post-id="<%= post.id %>" aria-controls="confirmationModal" aria-haspopup="dialog">
          <%= t('decidim.feeds.posts.hv.status.processing') %>
          <%= icon('arrow-right-line') %>
        </button>
      <% end %>
      <button class="button button__sm button__transparent-primary changeStatusButton" data-post-status="2" data-post-id="<%= post.id %>" aria-controls="confirmationModal" aria-haspopup="dialog">
        <%= t('decidim.feeds.posts.hv.status.done') %>
        <%= icon('arrow-right-line') %>
      </button>
    </div>
  <% end %>
<% end %>
