<div class="card__grid-metadata">
  <%= cell "decidim/author", Decidim::UserPresenter.new(post.author), layout: :compact %>
  <div class="feeds__feed_actions">
    <% if post.is_a?(Decidim::Feeds::Post) %>
      <%= endorsement_buttons_cell(post) %>
      <%= cell "decidim/endorsers_list", post, layout: :full %>
    <% end %>
    <div class="feeds__feed_actions_submenu">
      <button type="button" aria-expanded="false" aria-controls="<%= post.id %>#feeds__feed_actions_submenu" id="<%= post.id %>#feeds__feed_actions_submenuButton" class="flex">
        <span class="sr-only">Open Menu</span>
        <span aria-hidden="true">...</span>
      </button>
      <ul id="<%= post.id %>#feeds__feed_actions_submenu" role="menu" aria-orientation="vertical" aria-labelledby="<%= post.id %>#feeds__feed_actions_submenuButton" class="absolute right-0 mt-6 px-4 py-2 bg-white divide-y divide-dashed divide-gray-100 rounded-md shadow-feedMenu overflow-hidden hidden">
        <li class="text-right py-2 text-feeds-sidebar">
          <%= cell("decidim/report_button", post, button_classes: "hover:text-black dropdown__item flex-row-reverse", modal_id: "flagModalPost#{post.id}") %>
        </li>
        <li class="text-right py-2 text-feeds-sidebar">
          <%= link_to '#', class:'hover:text-black' do %>
          <span>
            <%= icon "translate-2-line" %>
            Übersetzen
          </span>
          <% end %>
        </li>
        <li class="text-right py-2 text-feeds-sidebar">
          <%= link_to '#', class:'hover:text-black' do %>
          <span>
            <%= icon "pencil-line" %>
            Editieren
          </span>
          <% end %>
        </li>
        <li class="text-right py-2 text-feeds-sidebar">
          <%= link_to '#', class:'hover:text-black' do %>
          <span>
            <%= icon "delete-bin-line" %>
            Löschen
          </span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
<style>
  
</style>