<div class="card__grid-metadata">
  <%= cell "decidim/author", Decidim::UserPresenter.new(post.author), layout: :compact %>
  <div class="feeds__feed_actions">
      <%# <%= endorsement_buttons_cell(post) %>
    <span data-endorsements-count="">
      <%= icon "thumb-up-line" %>
      Gefällt mir (13)
    </span>
    <div class="feeds__feed_actions_submenu">
      <button type="button" aria-expanded="false" aria-controls="<%=post.id%>#feeds__feed_actions_submenu" id="<%=post.id%>#feeds__feed_actions_submenuButton" class="flex">
        <span class="sr-only">Open Menu</span>
        <span aria-hidden="true">...</span>
      </button>
      <ul id="<%=post.id%>#feeds__feed_actions_submenu" role="menu" aria-orientation="vertical" aria-labelledby="<%=post.id%>#feeds__feed_actions_submenuButton" class="absolute right-0 mt-6 px-4 py-2 bg-white divide-y divide-gray-100 rounded-md shadow-feedMenu overflow-hidden hidden">
        <li class="text-right py-2">
          <span>
            <%= icon "flag-line" %>
            Melden
          </span>
        </li>
      </ul>
    </div>

  </div>
</div>