<% if post.attachments.any? %>
  <div class="feeds__attachments">

    <div class="flex flex-col items-center">
      <ul id="galleryItems_<%= post.id %>" class="feeds__feed_gallery flex overflow-hidden">
        <% post.attachments.select { |a| a.url.match(/\.(jpg|jpeg|png|svg|webp|mp4|webm)$/i) }.each_with_index do |attachment, index| %>
          <li class="<%= attachment.url.match(/\.(mp4|webm)$/i) ? 'video' : 'image' %> <%= index.zero? ? 'active' : '' %> aspect-4/3 overflow-hidden rounded-md flex justify-center items-center" data-src="<%= attachment.url %>">
            <% if attachment.url.match(/\.(mp4|webm)$/i) %>
              <%= video_tag(attachment.url, class: "object-cover w-full h-full rounded-md", controls: true, preload: "auto") %>
            <% else %>
              <div class="w-full h-full flex justify-center items-center rounded-md">
                <%= image_tag(attachment.url, class: "max-w-full max-h-full object-contain rounded-md", alt: translated_attribute(attachment.title)) %>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
      <% if post.attachments.select { |a| a.url.match(/\.(jpg|jpeg|png|svg|webp|mp4|webm)$/i) }.count > 1 %>
        <div id="navDots_<%= post.id %>" class="nav-dots flex gap-2 p-2">
          <% post.attachments.select { |a| a.url.match(/\.(jpg|jpeg|png|svg|webp|mp4|webm)$/i) }.each_with_index do |_, index| %>
            <div class="feeds__feed_gallery_nav_dot cursor-pointer h-2 w-2 rounded-full shadow-<%= index.zero? ? 'feedNotification' : 'feedNotificationInset' %>" role="button" aria-label="Navigate to item <%= index + 1 %>" data-target="galleryItems_<%= post.id %>" data-index="<%= index %>"></div>
          <% end %>
        </div>
      <% end %>
    </div>

    <ul class="document-list space-y-2 mt-4">
      <% post.attachments.reject { |a| a.url.match(/\.(jpg|jpeg|png|svg|webp|mp4|webm)$/i) }.each_with_index do |attachment, index| %>
        <li class="<%= index.even? ? 'bg-feeds-formBody' : '' %> py-1 pl-2 pr-4 flex gap-1 items-center">
            <%= icon "file-2-line" %> <%= link_to File.basename(attachment.url), attachment.url, class: 'text-sm' %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>