<aside class="feeds__aside">
  <nav aria-label="<%= t("decidim.feeds.components.feeds.filter.menuAriaLabel") %>">
    <ul>
      <li>
        <%= link_to "#", class: "", data: { filter: 'all'} do %>
          <%= icon "function-line" %>
          <span><%= t("decidim.feeds.components.feeds.filter.all") %></span>
        <% end %>
      </li>
      <li>
        <%= link_to "#", class: "", data: { filter: 'beitrag'} do %>
          <%= icon "home-5-line" %>
          <span><%= t("decidim.feeds.components.feeds.filter.posts") %></span>
        <% end %>
      </li>
      <li>
        <%= link_to "#", class: "", data: { filter: 'sharecare'} do %>
          <%= icon "shake-hands-line" %>
          <span><%= t("decidim.feeds.components.feeds.filter.sharecare") %></span>
        <% end %>
      </li>
      <li>
        <%= link_to "#", class: "", data: { filter: 'kalender'} do %>
          <%= icon "calendar-line" %>
          <span><%= t("decidim.feeds.components.feeds.filter.calendar") %></span>
        <% end %>
      </li>
      <li>
        <%= link_to "#", class: "", data: { filter: 'umfrage'} do %>
          <%= icon "draft-line" %>
          <span><%= t("decidim.feeds.components.feeds.filter.survey") %></span>
        <% end %>
      </li>
      <li>
        <%= link_to "#", class: "", data: { filter: 'hv'} do %>
          <%= icon "home-gear-line" %>
          <span><%= t("decidim.feeds.components.feeds.filter.hv") %></span>
        <% end %>
      </li>
    </ul>
  </nav>
</aside>