<a class="card__grid feeds__feed" data-content="post" href="#">
  <div class="card__grid-metadata">
    <div class="author" data-author="">
      <span>
        <div class="author__container">
          <span class="author__avatar-container">
            <img alt="Avatar: Sint est." class="author__avatar" src="/decidim-packs/media/images/default-avatar-aaa9e55bac5d7159b847.svg">
          </span>
          <span class="author__name">Author 1</span>
        </div>
      </span>
      
    </div>
    <span data-comments-count="">
      <%= icon "chat-3-line" %>
      Kommentare (8) 
    </span>
    <ul class="feed__actions" role="menu">
      <li role="menuitem" tabindex="0" aria-expanded="false">
        Aktionen
        <%= icon "arrow-down-s-line", class: "icon" %>
      </li>
      <li role="menuitem" tabindex="-1">
        <span data-endorsements-count="">
          Gefällt mir (13)
          <%= icon "thumb-up-line" %>
        </span>
      </li>
      <li role="menuitem" tabindex="-1">
        <span data-endorsements-count="">
          Melde
          <%= icon "flag-2-line" %>
        </span>
      </li>
    </ul>
  </div>
  <div class="card__grid-img">
      <%= image_pack_tag('media/images/130828cp0030-768x511.webp', alt: 'Description') %>
  </div>
  <div class="card__grid-text">
    Jemand musste Josef K. verleumdet haben, denn ohne dass er etwas Böses getan hätte, wurde er eines Morgens verhaftet. »Wie ein Hund!« sagte er, es war, als sollte die Scham ihn überleben. 
  </div>
  <div class="feeds__feed_comment">
    <div class="rounded-md px-3 pb-1.5 pt-2.5 shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-indigo-600 bg-white">
      <label for="name" class="block text-xs font-medium text-gray-900">Name</label>
      <input type="text" name="name" id="name" class="block w-full border-0 p-0 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="Jane Smith">
    </div>
  </div>
</a>