<dialog id="feeds__feed_newElement">
  <div class="close-button">
    <button type="button" class="button button__sm button__transparent-primary">
      <%= icon("close-line") %>
    </button>
  </div>
  <% if current_user %>
    <div class="category-selection">
      <button type="button" class="button button__sm button__transparent-primary" data-category="calendar">Calendar</button>
      <button type="button" class="button button__sm button__transparent-primary" data-category="post">Post</button>
      <button type="button" class="button button__sm button__transparent-primary" data-category="sharecare">Sharecare</button>
      <button type="button" class="button button__sm button__transparent-primary" data-category="hv">HV</button>
      <button type="button" class="button button__sm button__transparent-primary" data-category="survey">Survey</button>
    </div>

    <% target_participatory_space = Decidim::Component.find_by(manifest_name: "feeds").participatory_space %>
    <%
      context = {
        current_organization: @controller.try(:current_organization),
        current_component: @controller.try(:current_component),
        current_user: @controller.try(:current_user),
        current_participatory_space: @controller.try(:current_participatory_space)
      }
    %>
    <%= decidim_form_for(Decidim::Meetings::MeetingForm.from_params(params).with_context(context), url: Decidim::Feeds::Engine.routes.url_helpers.meetings_path(assembly_slug: target_participatory_space.slug, component_id: target_participatory_space.components.find_by(manifest_name: "meetings").id), html: { class: "meetings_form new_meeting" }) do |form| %>
      <div class="form__wrapper p-0 gap-4">
        <%= render partial: "decidim/feeds/posts/meeting_form", locals: { form: form } %>
      </div>
      <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
        <%= form.submit "#{t("decidim.components.feeds.newFeed.action")} #{icon('send-plane-line')}".html_safe, class: "sndBtn button button__sm button__transparent-primary", data: { disable: true } %>
      </div>
    <% end %>

    <%= decidim_form_for(Decidim::Feeds::PostForm.from_params(params).with_context(context), url: Decidim::Feeds::Engine.routes.url_helpers.posts_path(assembly_slug: target_participatory_space.slug, component_id: target_participatory_space.components.find_by(manifest_name: "feeds").id), html: { class: "posts_form new_post" }) do |form| %>
      <div class="form__wrapper p-0">
        <%= render partial: "decidim/feeds/posts/post_form", locals: { form: form } %>
      </div>
      <div id="extraFieldsForSurvey" class="feeds__feed_newElement_Xtra feeds__feed_newSurvey">
        <%= render partial: 'decidim/feeds/posts/new_survey.html', locals: { form: form } %>
      </div>
      <%= render partial: "decidim/feeds/posts/attachment.html", locals: { form: form } %>
      <%= render partial: "decidim/feeds/posts/admin_options.html", locals: { form: form, participatory_space: target_participatory_space } %>
      <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
        <%= form.submit "#{t("decidim.components.feeds.newFeed.action")} #{icon('send-plane-line')}".html_safe, data: { disable: true }, class: "sndBtn button button__sm button__transparent-primary" %>
      </div>
    <% end %>
  <% else %>
    <div class="form__wrapper p-0">
      <div class="flex flex-col items-center">
        <p class="text-center">
          <%= t("decidim.components.feeds.newFeed.login") %>
        </p>
        <%= link_to t("decidim.components.feeds.newFeed.loginLink"), decidim.new_user_session_path, class: "button button__sm button__primary" %>
      </div>
    </div>
  <% end %>
</dialog>
