<dialog id="feeds__feed_newElement">
  <div class="close-button">
    <button type="button" class="button button__sm button__transparent-primary">
      <%= icon("close-line") %>
    </button>
  </div>
  <div class="category-selection">
    <button type="button" class="button button__sm button__transparent-primary" data-category="calendar">Calendar</button>
    <button type="button" class="button button__sm button__transparent-primary" data-category="post">Post</button>
    <button type="button" class="button button__sm button__transparent-primary" data-category="sharecare">Sharecare</button>
    <button type="button" class="button button__sm button__transparent-primary" data-category="hv">HV</button>
    <button type="button" class="button button__sm button__transparent-primary" data-category="survey">Survey</button>
  </div>

  <% target_participatory_space = Decidim::Component.find_by(manifest_name: "feeds").participatory_space %>
  <%= decidim_form_for(@meeting_form, url: Decidim::Feeds::Engine.routes.url_helpers.meetings_path(assembly_slug: target_participatory_space.slug, component_id: target_participatory_space.components.find_by(manifest_name: "meetings").id), html: { class: "meetings_form new_meeting" }) do |form| %>
    <div class="form__wrapper p-0 gap-4">
      <%= render partial: "meeting_form", locals: { form: form } %>
    </div>
    <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
      <%= form.submit "#{t("decidim.components.feeds.newFeed.action")} #{icon('send-plane-line')}".html_safe, class: "sndBtn button button__sm button__transparent-primary", data: { disable: true } %>
    </div>
  <% end %>

  <%= decidim_form_for(@form, html: { class: "posts_form new_post" }) do |form| %>
    <div class="form__wrapper p-0">
      <%= render partial: "post_form", locals: { form: form } %>
    </div>
    <div id="extraFieldsForSurvey" class="feeds__feed_newElement_Xtra feeds__feed_newSurvey">
      <%= render partial: 'decidim/feeds/posts/new_survey.html', locals: { form: form } %>
    </div>
    <%= render partial: "decidim/feeds/posts/attachment.html", locals: { form: form } %>
    <%= render partial: "decidim/feeds/posts/admin_options.html", locals: { form: form } %>
    <div class="form__wrapper-block flex-col-reverse md:flex-row justify-between">
      <%= form.submit "#{t("decidim.components.feeds.newFeed.action")} #{icon('send-plane-line')}".html_safe, data: { disable: true }, class: "sndBtn button button__sm button__transparent-primary" %>
    </div>
  <% end %>
</dialog>
