<main class="feeds__container">
  <div class="feeds__body">
    <div class="card__grid-home w-full lg:grid-cols-8 xl:grid-cols-12">
      <% if current_user %>
        <div class="card__grid feeds__feed feeds__feed_newElement">
          <button class="btn circle feeds__feed_newElement-opener" aria-expanded="false" aria-controls="newElementForm" type="button">
            <%= icon "close-circle-line" %>
            <span class="sr-only"><%= t("decidim.components.feeds.newFeed.title") %></span>
          </button>
        </div>
      <% end %>
      <%= render partial: "decidim/feeds/posts/feed.html" %>
    </div>
  </div>
  <%= render partial: "decidim/feeds/posts/sidebar.html" %>
</main>

<dialog id="confirmationModal" class="p-4 shadow-md rounded-md ring-1 ring-feeds-hv" aria-labelledby="confirmationModal__Label" aria-modal="true">
  <div class="flex flex-col gap-4">
    <h2 id="confirmationModal__Label" class="text-center text-lg font-bold">Meldungsstatus ändern</h2>
    <p class="confirmationModal__response" aria-live="assertive">Das Status der Meldung wird geändert und die Kommentarfunktion geschlossen.</p>
    <div class="confirmationModal__buttons flex p-4 gap-4 justify-center">
      <button id="confirmationModal__confirmButton" class="button button__sm button__transparent-primary">
        <%= t('decidim.feeds.posts.hv.status.confirm') %>
        <%= icon('check-line') %>
      </button>
      <button id="confirmationModal__cancelButton" class="button button__sm button__transparent-primary">
        <%= t('decidim.feeds.posts.hv.status.cancel') %>
        <%= icon('close-line') %>
      </button>
    </div>
  </div>
</dialog>
<script>
  window.translations = {
    newSurvey: {
      questionTitle       : "<%= t('decidim.components.feeds.newFeed.newSurvey.questionTitle') %>",
      answerType          : "<%= t('decidim.components.feeds.newFeed.newSurvey.answerType') %>",
      multipleChoice      : "<%= t('decidim.components.feeds.newFeed.newSurvey.multipleChoice') %>",
      singleChoice        : "<%= t('decidim.components.feeds.newFeed.newSurvey.singleChoice') %>",
      newAnswer           : "<%= t('decidim.components.feeds.newFeed.newSurvey.newAnswer') %>",
      newQuestionResponse : "<%= t('decidim.components.feeds.newFeed.newSurvey.newQuestionResponse') %>",
      newAnswerResponse   : "<%= t('decidim.components.feeds.newFeed.newSurvey.newAnswerResponse') %>",
    },
    dialog: {
      dialogBodyMsg       : '<%= t('decidim.feeds.posts.hv.status.dialogBodyMsg') %>',
      dialogBodyResponse  : '<%= t('decidim.feeds.posts.hv.status.dialogBodyResponse') %>',
    }
  };
</script>
<%= append_javascript_pack_tag "decidim_feeds" %>
