<div class="flex gap-2 justify-betwee items-center p-2 bg-feeds-bg">
  <%= form.label :title, '', class: 'flex gap-2 items-center py-2 w-full' do %>
    <%= content_tag(:span, t("decidim.components.feeds.newFeed.newSurvey.answerTitle"), class: "post_label font-bold sr-only") %>
    <%= content_tag(:span, 'ANSWER_NR.', class: "post_label font-bold answer") %>
    <%= form.text_field :title, class: 'form-control flex-auto', label:false, placeholder: t("decidim.components.feeds.newFeed.newSurvey.answerTitle") %>
  <% end %>
  <%= link_to "#", class:'ml-auto' do %>
    <%= content_tag(:span, t("decidim.components.feeds.newFeed.newSurvey.deleteQuestion"), class: "sr-only") %>
    <%= icon('delete-bin-line') %>
  <% end %>
</div>
