<button class="feeds__feed_newSurvey-btn" type="button" aria-haspopup="true" aria-controls="newQuestion-1">
  <%= t("decidim.feeds.components.feeds.newSurvey.newQuestion") %>
  <%= icon "add-line" %>
</button>
<div id="feeds__feed_newSurvey_liveRegion" aria-live="polite" class="sr-only"></div>
<div id="feeds__feed_newSurvey_questionsContainer"></div>
<script>
  window.translations = {
    questionTitle: "<%= t('decidim.feeds.components.feeds.newSurvey.questionTitle') %>",
    answerType: "<%= t('decidim.feeds.components.feeds.newSurvey.answerType') %>",
    multipleChoice: "<%= t('decidim.feeds.components.feeds.newSurvey.multipleChoice') %>",
    singleChoice: "<%= t('decidim.feeds.components.feeds.newSurvey.singleChoice') %>",
    newAnswer: "<%= t('decidim.feeds.components.feeds.newSurvey.newAnswer') %>",
    newQuestionResponse: 'A new question has been inserted.',
    newAnswerResponse: 'A new answer has been inserted.'
  };
</script>